<style>        
    body {
        background-color:white
        font-family : Arial,"Myriad Web",Verdana,Helvetica,sans-serif;
    }
    h1   {color:black}
    p    {color:green}
    
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        
        font-size : 12;
    }
    th {
        text-align: center;
        background-color:darkgray;
        color:white;
        border: 1px solid black;
    }
    table {border-spacing: 1px;}
    th,td {padding: 5px;}
    td {text-align: center;}
    
    #page_row_1 {
            /*position:absolute;*/
            /*top:0;*/
            /*left:0;*/
            /*width:100%;*/
            /*width:100vw;*/
    }
    .div_line {
            /*position:absolute;*/
            /*top:0;*/
            /*left:0;*/
            background-color:darkgray;
            height:2px;
            width:100%;
            /*width:100vw;*/
    }
    #page_row_2 {
        clear: both
    }

    #currentFilters {
        padding: 20px;
        font: 10px sans-serif;
        position: fixed;
        top: 0;
        right: 0;
        width: 160;
        border: 1px solid black;
        background-color:white
    }

    #page_row_3 {
        clear: both
    }
    
    #age {
        padding:0px;
        float:left;
        font: 10px sans-serif;
    }
    #sex {
        padding:0px;
        float:left;
        font: 10px sans-serif;
    }
    #timeatsea {
        padding:0px;
        float:left;
        font: 10px sans-serif;
    }
    #department {
        padding:0px;
        float:left;
        font: 10px sans-serif;
    }
    #year {
        padding:0px;
        float:left;
        font: 10px sans-serif;
    }
    #civilstatus {
        padding:0px;
        float:left;
        font: 10px sans-serif;
    }
    #ships {
        padding:0px;
        float:left;
        font: 10px sans-serif;
    }


    #q1 {
        padding:0px;
        float:left;
        font: 10px sans-serif;
    }
    #q2 {
        padding:0px;
        float:left;
        font: 10px sans-serif;
    }
    #q3 {
        padding:0px;
        float:left;
        font: 10px sans-serif;
    }
    #q4_1 {
        padding:0px;
        float:left;
        font: 10px sans-serif;
    }
    #q4_2 {
        padding:0px;
        float:left;
        font: 10px sans-serif;
    }
    #q4_3 {
        padding:0px;
        float:left;
        font: 10px sans-serif;
    }
    #q4_total {
        padding:0px;
        float:left;
        font: 10px sans-serif;
    }
    #q5_total {
        padding:0px;
        float:left;
        font: 10px sans-serif;
    }
    #q6_total {
        padding:0px;
        float:left;
        font: 10px sans-serif;
    }
    #q7_total {
        padding:0px;
        float:left;
        font: 10px sans-serif;
    }
    #q8_total {
        padding:0px;
        float:left;
        font: 10px sans-serif;
    }
    #q12_total {
        padding:0px;
        float:left;
        font: 10px sans-serif;
    }
    #q5_1 {
        padding:0px;
        float:left;
        font: 10px sans-serif;
    }
    #q5_2 {
        padding:0px;
        float:left;
        font: 10px sans-serif;
    }
    #q5_3 {
        padding:0px;
        float:left;
        font: 10px sans-serif;
    }
    #q6_1 {
        padding:0px;
        float:left;
        font: 10px sans-serif;
    }
    #q6_2 {
        padding:0px;
        float:left;
        font: 10px sans-serif;
    }
    #q6_3 {
        padding:0px;
        float:left;
        font: 10px sans-serif;
    }
    #q7_1 {
        padding:0px;
        float:left;
        font: 10px sans-serif;
    }
    #q7_2 {
        padding:0px;
        float:left;
        font: 10px sans-serif;
    }
    #q7_3 {
        padding:0px;
        float:left;
        font: 10px sans-serif;
    }
    #q8_1 {
        padding:0px;
        float:left;
        font: 10px sans-serif;
    }
    #q8_2 {
        padding:0px;
        float:left;
        font: 10px sans-serif;
    }
    #q8_3 {
        padding:0px;
        float:left;
        font: 10px sans-serif;
    }
    #q9 {
        padding:0px;
        float:left;
        font: 10px sans-serif;
    }
    #q10 {
        padding:0px;
        float:left;
        font: 10px sans-serif;
    }
    #q11 {
        padding:0px;
        float:left;
        font: 10px sans-serif;
    }
    #q12_1 {
        padding:0px;
        float:left;
        font: 10px sans-serif;
    }
    #q12_2 {
        padding:0px;
        float:left;
        font: 10px sans-serif;
    }
    #q12_3 {
        padding:0px;
        float:left;
        font: 10px sans-serif;
    }
    #q13 {
        padding:0px;
        float:left;
        font: 10px sans-serif;
    }
    #q14 {
        padding:0px;
        float:left;
        font: 10px sans-serif;
    }
    #q15 {
        padding:0px;
        float:left;
        font: 10px sans-serif;
    }
    
    rect {
        fill: steelblue;
    }
/*    #sex rect:hover {
        fill: black ;
    }*/
    .extent {
        fill: grey;
        fill-opacity: 0.3;
        shape-rendering: crispEdges;
        stroke: #000;
      }    

</style>